<ion-content>
  <div id="people">
    <h1 class="title">People</h1>
    <ion-grid id="messages" size="12">
      <ion-row sizeL="12">
        <ion-col size="12" *ngFor="let user of otherUsers" class="message">
          <ion-item class="messageText" (click)="changeChat(user.username)">
            {{user.username}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>

  <div id="messenger">
    <h1 class="title">Messenger</h1>

    <ion-grid id="messages" size="12">
      <ion-row sizeL="12">
        <ion-col size="12" *ngFor="let mess of currentChat.messages" class="message">
          <ion-item class="messageText">
            {{mess.text}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-input id="messageInput" placeholder="Enter your text" [(ngModel)]="message_text"></ion-input>
    <ion-button id="sendMessage" (click)="SendMessage()" >Send</ion-button>
  </div>

</ion-content>